@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html, body {
  width: 100%;
  margin: 0;
  background: linear-gradient(rgb(255, 255, 255), rgb(162, 240, 144));
  color: rgb(8, 83, 4);
  font-weight: 300;
  font-family: 'Rubik Mono One';
}

.app-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  place-items: center;
  text-align: center;
  justify-content: center;
}

.form_container {
  margin-bottom: 20px;
}

.feedback_form{
  width: 750px;
  height: 750px;
  background-color: white;
}

.feedback_form_1{
  width: 750px;
  height: 750px;
  background-color: white;
}

#header {
  width: 80%;
  background-color: #f8f9fa00;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
}

#footer {
  bottom: 0;
  background-color: #00000000;
  text-align: center;
  padding: 10px;
}

.img_block, .img_block_2{
  display: block;
  width: 350px;
  height: 350px;
  border: 1px rgba(255, 0, 0, 0);
  border-radius: 15%;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(17, 151, 10, 0.482);
  
}


.img_block_2{
  position: relative;
}

ul, #produccts{
  list-style: none;
  margin-top: 1 0px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 100px;
}

.h1_for_button {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}