@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html, body {
  width: 100%;
  margin: 0;
  background: linear-gradient(rgb(255, 255, 255), rgb(162, 240, 144));
  color: rgb(8, 83, 4);
  font-weight: 300;
  font-family: 'Rubik Mono One';
}

.app-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  place-items: center;
  text-align: center;
  justify-content: center;
}

.form_container {
  margin-bottom: 20px;
}

#header {
  width: 80%;
  background-color: #f8f9fa00;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
}

#footer {
  bottom: 0;
  background-color: #00000000;
  text-align: center;
  padding: 10px;
}

.img_block{
  width: 250px;
  height: 250px;
  border: 1px rgba(255, 0, 0, 0);
  border-radius: 20%;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(17, 151, 10, 0.482);
}